@flex_center: {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
};

@box: {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
};

@bor_20: {
  border-top: 20rpx solid RGBA(240, 242, 245, 1);
};
.marT20 {
  margin-top: 20rpx;
}
.bg_color(@color) {
  background-color: @color;
}

.br_rds(@Degrees) {
  border-radius: @Degrees;
}
page {
  .bg_color(RGBA(239, 239, 244, 1));
}
.wh(@h) {
  width: @h;
  height: @h;
}
.tip {
  width: 100%;
  height: 80rpx;
  .bg_color(RGBA(238, 255, 197, 1));
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30rpx;
  color: rgba(128, 194, 105, 1);
}
.card_wrap {
  width: 100%;
  height: auto;
  .bg_color(RGBA(255, 255, 255, 1));
  @box();
  padding: 20rpx;
  margin-top: 20rpx;
  .title {
    font-size: 32rpx;
    text-align: center;
    color: rgba(51, 51, 51, 1);
  }
  .card {
    width: 710rpx;
    height: 236rpx;
    background: linear-gradient(rgba(179, 212, 101, 1), rgba(238, 255, 197, 1));
    border-radius: 20rpx;
    margin-top: 20rpx;
    @box();
    padding: 30rpx;
    .card_title {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20rpx;
      .title {
        font-size: 32rpx;
        color: rgba(255, 255, 255, 1);
        margin-right: auto;
        margin-left: 50rpx;
      }
      .price {
        font-size: 40rpx;
        color: rgba(236, 105, 65, 1);
      }
      .un_price {
        font-size: 32rpx;
        color: rgba(255, 255, 255, 1);
      }
      .card_icon {
        .wh(50rpx);
        margin-right: 30rpx;
        margin-left: 19rpx;
        .bg_color(red);
      }
    }
    .card_tab {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 30rpx;
      @box();
      padding: 0rpx 50rpx;
      .tab_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .item_title {
          font-size: 28rpx;
          color: rgba(143, 195, 31, 1);
        }
        .year_color {
          font-size: 28rpx;
          color: rgba(0, 183, 238, 1);
        }
        .year_mincolor {
          margin-top: 10rpx;
          font-size: 24rpx;
          color: rgba(126, 206, 244, 1);
        }
        .vip_color {
          font-size: 28rpx;
          color: rgba(242, 154, 118, 1);
        }
        .vip_mintitle {
          margin-top: 10rpx;
          font-size: 24rpx;
          color: rgba(246, 179, 127, 1);
        }
        .item_mintitle {
          font-size: 24rpx;
          color: rgba(179, 212, 101, 1);
          margin-top: 10rpx;
        }
      }
    }
  }

  .year_card {
    background: linear-gradient(rgba(126, 206, 244, 1), rgba(211, 241, 255, 1));
  }
  .vip_year_card {
    background: linear-gradient(rgba(246, 179, 127, 1), rgba(255, 230, 211, 1));
  }
  .tip_res {
    width: 100%;
    height: auto;
    margin-top: 30rpx;
    font-size: 24rpx;
    color: rgba(102, 102, 102, 1);
    .tip_title {
      color: rgba(0, 183, 238, 1);
    }
  }
}

.sure_button {
  width: 100%;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .bg_color(white);
  position: fixed;
  bottom: 0;
  .money_left {
    width: 520rpx;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @box();
    padding-left: 50rpx;
    .title {
      color: rgba(51, 51, 51, 1);
      font-size: 32rpx;
    }
    .mintitle {
      color: rgba(135, 135, 135, 1);
      font-size: 25rpx;
      margin-top: 8rpx;
    }
  }
  .sure {
    width: 230rpx;
    height: 100%;
    text-align: center;
    line-height: 100rpx;
    color: white;
    font-size: 35rpx;
    .bg_color(RGBA(68, 138, 202, 1));
  }
}
