@flex_center: {
  display: flex;
  align-items: center;
  justify-content: center;
};
@box: {
  box-sizing: border-box;
};
@bor_20: {
  border-top: 20rpx solid RGBA(240, 242, 245, 1);
};
.bg_color(@color) {
  background-color: @color;
}
.br_rds(@Degrees) {
  border-radius: @Degrees;
}
.wh(@h) {
  width: @h;
  height: @h;
}

/*个人信息*/
.user_info {
  width: 100%;
  height: 298rpx;
  .bg_color(RGBA(68, 138, 202, 1));
}
/*优惠券和金币*/
.discount {
  width: 100%;
  height: 86rpx;
  .bg_color(RGBA(60, 121, 177, 1));
}
/*订单组件*/
.orde_group {
  width: 100%;
  height: 364rpx;
  display: flex;
  flex-wrap: wrap;
  .order_item {
    width: 25%;
    height: 182rpx;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .order_item_logo {
      .wh(70rpx);
      .bg_color(red);
    }
    .order_item_title {
      font-size: 24rpx;
      color: rgba(51, 51, 51, 1);
      margin-top: 30rpx;
    }
  }
}

/*书单*/
.book_list {
  width: 100%;
  height: 166rpx;
  @bor_20();
}
.effect {
  width: 100%;
  height: 170rpx;
  @bor_20();
}

.navigation {
  width: 100%;
  height: auto;
  @bor_20();
}
